* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #090327;
  }
  
  .logo {
    height: 50px ;
    cursor: pointer;
    object-fit: cover;
    opacity: 0;
    animation: slideRight 1s ease forwards;  
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    
  }
  
  .nav__links li {
    padding: 0px 20px;
  }

  .nav__links li a {
    display: inline-block;
    transition: color 0.3s ease 0s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc( .2s * var(--i));
  }
  
  .nav__links li a:hover {
    color: #00ccff;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    opacity: 0;
    animation: slideLeft 1s ease forwards; 
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #090327;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  

  /* .navlinks-container .Projet::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2.5px;
    border-radius: 50px;
    transform: scaleX(0);
    transform-origin: left;
    background: #ffffff00;
    transition: transform 0.3s ease-out;
  }
  
  .navlinks-container .Projet {
    font-weight: bold;
    color: #12a0ff;
  } */
  
  /* Keyframes animation */
@keyframes slideRight {
  0% {
      transform: translateX(-100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }

}

@keyframes slideLeft {
  0% {
      transform: translateX(100px);
      opacity: 0;
  }

  100% {
      transform: translateX(0);
      opacity: 1;
  }

}

@keyframes slideTop {
  0% {
      transform: translateY(-100px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }

}
