@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");



*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #1d1d1d;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: #24242400;
  box-shadow: inset 0px -1px 0px #44444400;
}

.nav-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

/* Section 1 */


.imgspawn {
    margin-left: 27px;
}


.sec1 h2{
  margin-left: 50px;
  margin-top: 0;
  
  color: #ffffff;
}

.sec1 p{
  margin-left: 50px;
  margin-top: 0;
  color: #ffffff;
}

.sec1 a {
  text-decoration: none;
  color: #ff5100;
}

.en-savoir-plus button {
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none; 
  margin-left: 50px;
}

.en-savoir-plus button {
  color: #fff;
  border: none;
  background: #ff6912;
}

.en-savoir-plus button:hover{
  border: none;
  background: rgb(255, 255, 255);
  color: #262626;
  transition: 0.7s ease;
}
  


.nav-icon span {
  font-family: Roboto Flex, sans-serif;
  font-size: 25px;
  margin-left: 10px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.nav-icon img {
  width: 40px;
}
.hamburger {
  display: none;
}
.navlinks-container a {
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  position: relative;
}
.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 2.5px;
  border-radius: 50px;
  transform: scaleX(0);
  transform-origin: left;
  background: #ff5e00;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
  transform: scaleX(1)
}

.nav-authentication {
  margin-left: auto;
}

.sign-btns button {
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none; 
}

.sign-btns button:nth-child(2) {
  border: none;
  background: #ff6912;
}

.sign-btns button:nth-child(2):hover {
  border: none;
  background: #ff7300c9;
  transition: 0.7s ease;
}


.sign-user {
  display: none;
}

/* Contact */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  color: #ffffff;
  text-align: center;
}
.wrapper form{
  margin: 35px 30px;
}

form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: rgb(0, 0, 0);
}

.sendemail button {
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none; 
  margin-left: 30px;
}

.sendemail button {
  color: #fff;
  border: none;
  background: #ff6912;
}


.sendemail button:hover{
  border: none;
  background: #29292979;
  color: #fff;
  transition: 0.7s ease;
}

@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}



/* footer */



@media (max-width: 900px) {

  /* Section 1 */

.imgspawn img {
  display: none;
  height: 250px;
  margin-left: 27px;  
  border-left: #ff5100;
}

.sec1 h2{
  margin-left: 30px;
  margin-top: 0;
  
  color: #ffffff;
}

.sec1 p{
  margin-left: 30px;
  margin-top: 0;
  color: #ffffff;
}

.sec1 a {
  text-decoration: none;
  color: #ff5100;
}

.en-savoir-plus button {
  text-decoration: none;
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 5px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  border: none; 
  margin-left: 30px;
}

.en-savoir-plus button {
  color: #fff;
  border: none;
  background: #ff6912;
}

.en-savoir-plus button:hover{
  border: none;
  background: rgb(255, 255, 255);
  color: #262626;
  transition: 0.7s ease;
}
  

  .logo {
    display: none;
  }
  
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }

  .main-navlinks {
    order: 1;
  }
  /* Hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #242424;
    align-items: center;
    position: relative;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #242424;
    top: 100%;
    left: 0;
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #242424;
    transform: translate(-100%);
  }
  .open {
    transform: translate(0%);
  }
  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0
  }

  .nav-authentication {
    order: 3;
    margin-left: 0;
  }
  .sign-btns {
    display: none;
  }
  .sign-user {
    display: block;
    cursor: pointer;
    border: none;
  }
  .sign-user img {
    width: 20px;
  }

}

@media (max-width: 500px) {
  .nav-icon img {
    width: 30px;
  }
  .nav-icon span {
    font-size: 20px;
  }
}
